In [1]:
import sklearn
sklearn.__version__

import pandas as pd
import numpy as np
import folium

from sklearn.preprocessing import MinMaxScaler

In [2]:
import pandas as pd
import numpy as np
#전처리한 데이터 로드
df = pd.read_excel("독거노인.xlsx", thousands = ',') #엑셀로 저장한거 1000단위의 , 제거하고 불러오기

In [3]:
df.columns

Index(['Unnamed: 0', '행정동코드', '구', '동', '행정동별독거노인합계'], dtype='object')

In [4]:
#불필요한 index 제거
del df['Unnamed: 0'] # Unnamed 0 생긴거 index에서 저장할때 생긴거 같은데 불필요하므로 제거

In [5]:
#min-max scaler를 통해 행정동별독거노인합계를 정규화
scaler= MinMaxScaler()

df[["행정동별독거노인합계"]]= scaler.fit_transform(df[["행정동별독거노인합계"]])

In [6]:
df.to_excel('독거노인_정규화.xlsx', encoding = 'utf-8')

In [7]:
low = df.sort_values(by = ['행정동별독거노인합계', '행정동코드'], ascending = True).head(10)
#low

In [8]:
high = df.sort_values(by = ['행정동별독거노인합계', '행정동코드'], ascending = False).head(10)
#high

In [9]:
low = low[['행정동코드', '구', '동']]
low

        행정동코드    구     동
394  11710631  송파구  가락1동
17   11140520   중구   소공동
362  11680600  강남구  대치1동
1    11110540  종로구   삼청동
19   11140550   중구    명동
21   11140580   중구   장충동
231  11470610  양천구  신월6동
6    11110600  종로구   가회동
403  11710720  송파구  잠실7동
36   11170580  용산구   효창동

In [10]:
high = high[['행정동코드', '구', '동']]
high

        행정동코드     구       동
174  11350625   노원구  중계2.3동
422  11740610   강동구    천호2동
243  11500535   강서구    등촌3동
177  11380520   은평구    불광1동
235  11470640   양천구    신정3동
0    11110530   종로구     사직동
191  11380625   은평구     역촌동
86   11230560  동대문구    전농1동
85   11230545  동대문구     제기동
84   11230536  동대문구     용신동