In [1]:
import sklearn
sklearn.__version__

import pandas as pd
import numpy as np
import folium

from sklearn.preprocessing import MinMaxScaler

In [2]:
import pandas as pd
import numpy as np
#전처리한 데이터 로드
df = pd.read_excel("기초생활보장수급자.xlsx", thousands = ',') #엑셀로 저장한거 1000단위의 , 제거하고 불러오기

In [3]:
df.columns

Index(['Unnamed: 0', '행정동코드', '구', '동', '행정동별기초생활보장수급자합계'], dtype='object')

In [4]:
#불필요한 index 제거
del df['Unnamed: 0'] # Unnamed 0 생긴거 index에서 저장할때 생긴거 같은데 불필요하므로 제거

In [5]:
#min-max scaler를 통해 행정동별독거노인합계를 정규화
scaler= MinMaxScaler()

df[["행정동별기초생활보장수급자합계"]]= scaler.fit_transform(df[["행정동별기초생활보장수급자합계"]])

In [6]:
df.to_excel('기초생활보장수급자_정규화.xlsx', encoding = 'utf-8')

In [7]:
low = df.sort_values(by = ['행정동별기초생활보장수급자합계', '행정동코드'], ascending = True).head(10)
#low

In [8]:
high = df.sort_values(by = ['행정동별기초생활보장수급자합계', '행정동코드'], ascending = False).head(10)
#high

In [9]:
low = low[['행정동코드', '구', '동']]
low

        행정동코드    구     동
346  11650570  서초구  반포2동
394  11710631  송파구  가락1동
403  11710720  송파구  잠실7동
387  11710566  송파구   오륜동
404  11710670  송파구  잠실2동
347  11650580  서초구  반포3동
362  11680600  강남구  대치1동
17   11140520   중구   소공동
236  11470670  양천구  신정6동
342  11650531  서초구  서초4동

In [10]:
high = high[['행정동코드', '구', '동']]
high

        행정동코드    구       동
243  11500535  강서구    등촌3동
174  11350625  노원구  중계2.3동
158  11350570  노원구    월계2동
373  11680750  강남구     수서동
251  11500604  강서구    가양2동
161  11350611  노원구    하계1동
132  11305608  강북구     번3동
252  11500605  강서구    가양3동
172  11350665  노원구  상계3.4동
148  11320700  도봉구    방학2동