In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import MinMaxScaler

In [2]:
data= pd.read_excel("생활인구.xlsx", encoding='utf-8')

In [3]:
#0~1 스케일링

scaler= MinMaxScaler()
data[["행정동별생활인구합계"]]= scaler.fit_transform(data[["행정동별생활인구합계"]])
data

        행정동코드    구      동  행정동별생활인구합계
0    11110515  종로구  청운효자동    0.152359
1    11110530  종로구    사직동    0.340201
2    11110540  종로구    삼청동    0.028817
3    11110550  종로구    부암동    0.160980
4    11110560  종로구    평창동    0.320725
..        ...  ...    ...         ...
419  11740650  강동구   성내2동    0.378317
420  11740660  강동구   성내3동    0.351427
421  11740685  강동구     길동    0.777760
422  11740690  강동구   둔촌1동    0.047293
423  11740700  강동구   둔촌2동    0.474269

[424 rows x 4 columns]

In [4]:
#xlsx 파일로 저장

data.to_excel("생활인구_정규화.xlsx", encoding='utf-8', index=False)

In [5]:
low = data.sort_values(by = ['행정동별생활인구합계', '행정동코드'], ascending = True).head(10)
#low

In [6]:
high = data.sort_values(by = ['행정동별생활인구합계', '행정동코드'], ascending = False).head(10)
#high

In [7]:
low = low[['행정동코드', '구', '동']]
low

        행정동코드     구     동
14   11110690   종로구  창신3동
7    11110600   종로구   가회동
2    11110540   종로구   삼청동
232  11470610   양천구  신월6동
296  11560660  영등포구  신길4동
31   11140680    중구   중림동
422  11740690   강동구  둔촌1동
199  11410655  서대문구  홍제2동
63   11200720   성동구   송정동
15   11110700   종로구  숭인1동

In [8]:
high = high[['행정동코드', '구', '동']]
high

        행정동코드     구            동
287  11560540  영등포구          여의동
8    11110615   종로구  종로1.2.3.4가동
191  11380690   은평구          진관동
367  11680640   강남구         역삼1동
421  11740685   강동구           길동
341  11650530   서초구         서초3동
416  11740610   강동구         천호2동
80   11230536  동대문구          용신동
244  11500540   강서구         화곡1동
81   11230545  동대문구          제기동