In [1]:
#pip install scikit-learn

In [2]:
import sklearn
sklearn.__version__

import pandas as pd
import numpy as np
import folium

from sklearn.preprocessing import MinMaxScaler

In [3]:
df= pd.read_excel('은행.xlsx', encoding='utf-8')

In [4]:
df.columns

Index(['Unnamed: 0', '행정동코드', '구', '동', '우리은행', 'KB국민은행', '신한은행', 'KEB하나은행',
       'IBK기업은행', 'NH농협은행', '행정동별은행합계'],
      dtype='object')

In [5]:
scaler= MinMaxScaler()

df[["행정동별은행합계"]]= scaler.fit_transform(df[["행정동별은행합계"]])

df

,Unnamed: 0,행정동코드,구,동,우리은행,KB국민은행,신한은행,KEB하나은행,IBK기업은행,NH농협은행,행정동별은행합계
0,0,11110530,종로구,사직동,2,2,3,4,1,5,0.320755
1,1,11110540,종로구,삼청동,1,0,1,0,0,1,0.056604
2,2,11110550,종로구,부암동,1,1,0,0,0,0,0.037736
3,3,11110560,종로구,평창동,1,1,1,1,0,0,0.075472
4,4,11110570,종로구,무악동,0,0,0,0,1,0,0.018868
...,...,...,...,...,...,...,...,...,...,...,...
419,419,11710510,송파구,풍납1동,0,0,0,0,0,0,0.000000
420,420,11710531,송파구,거여1동,0,0,0,0,0,0,0.000000
421,421,11740550,강동구,고덕1동,0,0,0,0,0,0,0.000000
422,422,11740560,강동구,고덕2동,0,0,0,0,0,0,0.000000
423,423,11740690,강동구,둔촌1동,0,0,0,0,0,0,0.000000

In [6]:
df=df[['행정동코드', '구', '동', '행정동별은행합계']]
df

        행정동코드    구     동  행정동별은행합계
0    11110530  종로구   사직동  0.320755
1    11110540  종로구   삼청동  0.056604
2    11110550  종로구   부암동  0.037736
3    11110560  종로구   평창동  0.075472
4    11110570  종로구   무악동  0.018868
..        ...  ...   ...       ...
419  11710510  송파구  풍납1동  0.000000
420  11710531  송파구  거여1동  0.000000
421  11740550  강동구  고덕1동  0.000000
422  11740560  강동구  고덕2동  0.000000
423  11740690  강동구  둔촌1동  0.000000

[424 rows x 4 columns]

In [7]:
df.to_excel("은행_정규화.xlsx")

In [8]:
low = df.sort_values(by = ['행정동별은행합계', '행정동코드'], ascending = True).head(10)
#low

In [9]:
high = df.sort_values(by = ['행정동별은행합계', '행정동코드'], ascending = False).head(10)
#high

In [10]:
low = low[['행정동코드', '구', '동']]
low

        행정동코드     구      동
380  11110690   종로구   창신3동
31   11170510   용산구    후암동
381  11170520   용산구  용산2가동
382  11170590   용산구    용문동
383  11170640   용산구   이촌2동
384  11200520   성동구  왕십리2동
385  11200580   성동구    응봉동
386  11200720   성동구    송정동
387  11215780   광진구     능동
388  11230750  동대문구   이문2동

In [11]:
high = high[['행정동코드', '구', '동']]
high

        행정동코드     구            동
255  11560540  영등포구          여의동
325  11680640   강남구         역삼1동
18   11140550    중구           명동
7    11110615   종로구  종로1.2.3.4가동
321  11680580   강남구         삼성1동
302  11650530   서초구         서초3동
246  11545510   금천구          가산동
336  11680545   강남구         압구정동
16   11140520    중구          소공동
301  11650520   서초구         서초2동